.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.background {
  background-color: black;
  display: flex;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  font-family: "LcdSolid";
  color: green;
  display: flex;
  width: 50vh;
  height: 20vh;
  font-size: 2vh;
}

.timeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.firstRow {
  flex: 1;
  display: flex;
}

.secondRow {
  flex: 2;
  display: flex;
  justify-content: center;
}

.time {
  flex: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

.direction {
  flex: 2;
  margin-top: 0px;
  display: flex;
}

.countdown {
  flex: 2;
  margin: 0px 0px 0px 30px;
  font-size: 7vh;
}

.next-train {
  flex: 1;
  font-size: 3vh;
  margin-top: 12px;
  margin-bottom: 0px;
}

.direction-text {
  margin-top: 0px;
  font-size: 3vh;
}

.message {
  flex: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  margin: 0px 0px 0px 0px;
  font-size: 3vh;
  text-align: center;
}